<div class="container-fluid aboutus-contactus">
    <div class="contact-us">
        <div class="row header"><h3>Contact Us</h3></div>
        <div class="row contact-icons">
            <div class="col"><i class="fas fa-mail-bulk mail fa-2x"></i></div>
            <div class="col"><i class="fab fa-discord fa-2x discord"></i></div>
            <div class="col"><i class="fab fa-telegram-plane fa-2x teligram"></i></div>
            <div class="col"><i class="fab fa-whatsapp fa-2x whatsapp"></i></div>
        </div>
    </div>
    <div class="about-us">
        <h3 class="header">About Us</h3>
        <div class="aboutus-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, obcaecati eos reiciendis sint blanditiis 
                nobis quasi exercitationem est. Fugiat ex neque fugit accusantium iure delectus voluptatum labore nemo placeat maiores.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quod. Illo laboriosam alias culpa placeat esse nisi debitis,
                 tempora repudiandae laudantium quam fugiat maxime impedit possimus distinctio soluta ipsum dolores!</p>
                 <h3 class="header">Our Team</h3>
                 <div class="row our-team">
                     <div class="col"><i class="far fa-user fa-4x"></i>
                        <p>Sr.Software Developer</p></div>
                        <div class="col"><i class="far fa-user fa-4x"></i>
                            <p>Sr.Android Developer</p></div>
                            <div class="col"><i class="far fa-user fa-4x"></i>
                                <p>Sr.Android Developer</p></div>
                     
                 </div>
        </div>
        
    </div>
</div>