span{
    color: red;
}
.user-icon{
    margin-top: 3px;
    margin-right: 0.5rem;
}
.user{
    margin-top:3px ;
    font-size: 1.2rem;
}

.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    }