<div class="root-div">
<!-- <app-navbar></app-navbar> -->
<!-- <app-user></app-user> -->
<!-- <app-free-matches></app-free-matches> -->
<!-- <app-paid-matches></app-paid-matches> -->
<!-- <app-signup></app-signup> -->
<!-- <app-user></app-user> -->
<!-- <app-host-your-match></app-host-your-match>-->
<!-- <app-signup></app-signup>  -->
<!-- <app-host-your-match></app-host-your-match>
<app-button-nav-bar></app-button-nav-bar> -->



<!-- <app-navbar></app-navbar> -->
<router-outlet></router-outlet>
</div>
<!-- <app-button-nav-bar></app-button-nav-bar> -->
