<div class="container-fluid bottom-nav-bar fixed-bottom">
    <div class="row">
        <div class="col botton-bar">
            <i class="fas fa-history"></i>
            <p>History</p>
        </div>
        <div class="col">
            <i class="fas fa-calendar-alt"></i>
            <p>Shedule</p>
        </div>
        <div class="col">
            <i class="logo1 fas fa-headset fa-3x" (click)="loadAboutUs()"></i>
        </div>
        <div routerLink="/rank" class="col">
            <i class="fas fa-chart-bar"></i>
            <p>Rank</p>
        </div>
        <div class="col" (click)="loadProfile()">
            <i class="far fa-user"></i>
            <p>Profile</p>
        </div>
        
    </div>
</div>
